Django==1.9.4
celery
gunicorn==19.6.0
sklearn
pandas
geocoder
selenium
gmplot
numpy
fpdf
selenium
scipy
xlrd
openpyxl
google-api-python-client==1.6.5
httplib2
oauth2client==4.1.2
pyvirtualdisplay
google-auth
google-auth-httplib2 
sqlalchemy
django-mysql
MySQLdb

